* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;

}

button {
    font-size: 2rem;
    font-weight: bold;

    height: 75px;
    width: 75px;
    color: mintcream;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
    margin: 5px;
}

#operations button {
    background-color: darkorange;
}

#operations button:active {
    background-color: rgba(255, 140, 0, 0.7);
}

#numbers button.orange {
    background-color: darkorange;
}

#numbers button.orange:active {
    background-color: rgba(255, 140, 0, 0.7);
}

#numbers button {
    background-color: #6b6868;
}

#numbers button:active {
    background-color: rgba(107, 104, 104, 0.8);
}

#calculator_container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
    margin: 30px auto auto;
    overflow: hidden;

    #keys {
        display: flex;
        column-gap: 15px;
        width: 375px;
        padding: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #333131;
        #operations {
            display: flex;
            flex-direction: column;
        }

        #numbers {
            display: grid;
            height: 80%;
            grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        }
    }
}

input {
    width: 375px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 15px;

    color: mintcream;
    background-color: #6b6868;
    border: none;
}